/* IDs */

#typed {
	color: #D98700;
	font-size: 3.6em;
	text-align: center;
	position: absolute;
	top: 690px;
	left: 460px;
}

#contactText {
	color: #D98700;
	font-size: 3.6em;
	text-align: center;
	position: absolute;
	top: 690px;
	left: 460px;
}

/* Set for sticky footer */
#wrapper {
	min-height: calc(100vh - 350px);
}



/* Classes */
.hero {
	width: 100%;
	height: 100%;
	background: no-repeat;
	background-size: cover; 
	opacity: 0.8;
	z-index: 0;
}

.logo {
	margin: 25px;
	z-index: 1;
	padding: 5px;
	float: left;
}

.active {
	color: #fff;
	border: 2px solid #D98700;
	border-radius: 15px;
	padding: 10px;
	background: #D98700;
	font-weight: 600;
}

.process-icon {
	width: 250px;
	height: 250px;
	margin-top: 75px;
}

.process-header {
	font-size: 2em;
	margin-bottom: 30px;
	font-weight: bold;

}

.process-text {
	width: 85%;
	line-height: 22px;
	font-size: 1.1em;
}

.col-md-4 {
	padding-right: 30px;
	margin-bottom: 100px;
}

.fa-copyright {
	color: white;
}

.copyright {
	margin: 50px;
	text-align: center;
}

.social-icons {
	color: #D98700;
	margin-right: 25px;
	display: inline-block;
}

.form-control {
	width: 100%;
}

.modal-content {
	width: 100%;
	padding: 50px;
}

.contact-btn {
	font-size: 3em;
	color: #fff;
	background: #D98700;
	font-weight: 500;
}

.contact-form {
	position: absolute;
	top : 70%;
	left: 50%;

}

.modal-header {
	font-size: 2em;
}


/* Element Selectors */

body {
	font-family: 'Source Sans Pro', sans-serif;
}

header div {
	position: fixed;
	background: rgba(0, 0, 0, .5);
	z-index: 1;
	width: 100%;
}

/* Nav styling */

nav ul {
	list-style: none;
	margin: 35px 50px 0 0;
}

nav li {
	display: inline-block;
	float: right;
	font-size: 2em;
	padding: 12px;
	color: #fff;
	margin: 12px;
}

h4 {
	font-size: 2em;
	text-indent: 95px;
	color: #D98700;

}

footer {
	background: rgba(0, 0, 0, .8);
	height: 350px;
	color: white;
	font-size: 1.5em;
	text-align: center;
	position: fixed;
}

footer a:hover {
	background: none;
	padding: none;
	margin: none;
}

footer a:active {
	padding: 0 !important;
	margin: 0 !important;
}

/* Pseudo Selectors */

a:hover {
	color: #D98700;
}

a:active {
	color: #fff;
	border-radius: 15px;
	padding: 10px;
	background: #D98700;
	text-decoration: none;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color: #fff;
}







