/* IDs */

#typed {
	color: #D98700;
	font-size: 3.6em;
	text-align: center;
}

#contactText {
	color: #D98700;
	font-size: 3.6em;
	text-align: center;
	display: inline;
}


#portfolio-intro {
	color: #D98700;
	font-size: 3.6em;
	text-align: center;
	background: none;
}

#imageGallery img {
	width: 360px;
	height: 325px;
	margin-top: 50px;
}

/* Overlay */
#overlay {
	background: rgba(0, 0, 0, .8);
	width: 100%;
	height: 100%;
    display: none;
	position: fixed;
	top: 0;
	left: 0;
	text-align: center;

}

#overlay img {
    margin-top: 10%;
	background: #fff;
	padding: 30px;
    width: 400px;
    height: 400px;
    text-align: center;
}

#overlay video {
    margin-top: 10%;
	background: #fff;
	padding: 30px;
    width: 400px;
    height: 400px;
    text-align: center;
}




/* Classes */
.hero {
	width: 100%;
	height: 100%;
	background: no-repeat;
	background-size: cover; 
	opacity: 0.8;
	z-index: 0;
}

.logo {
	z-index: 1;
}

.active {
	color: #fff;
	border: 2px solid #D98700;
	border-radius: 15px;
	padding: 10px;
	background: #D98700;
	font-weight: 600;
}

.process-icon {
	width: 250px;
	height: 250px;
	margin-top: 75px;
}

.process-header {
	font-size: 2em;
	font-weight: bold;
}

.process-text {
	width: 80%;
	line-height: 22px;
	font-size: 1.1em;
    text-align: justify;
    padding-right: 10px;
}


.fa-copyright {
	color: white;
}

.copyright {
	margin: 50px;
	text-align: center;
}

.social-icons {
	color: #D98700;
    flex: 1;
    padding-right: 25px;
    padding-bottom: 25px;
}

.contact-form {
    width: 50%;
    margin: auto;
    
}

.modal-content {
	width: 100%;
	padding: 50px;
}

.modal-header {
	font-size: 2em;
	font-weight: bold;
	color: #D98700;
}

.typed-cursor {
	display: none;
}

.portfolio-images {
	margin-top: 50px;
}

.portfolio-text {
	font-size: 1.3em;
	text-align: center;
	font-weight: bold;
	color: rgba(0,0,0, .7);
	margin-top: 15px;
}

.video {
	width: 335px;
	height: 358.38px;
}

.overlay-caption {
	font-size: 1.5em;
	text-align: center;
	font-weight: bold;
	color: rgb(215, 215, 215);
	margin-top: 15px;
}

.fa-external-link, .overlay-github {
	color: #fff;
	margin: 25px 10px 0 10px;
}

/*Flexbox*/

.container {
    display: flex;
}

.flex-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    
}

/* Hide navbar on scroll */

.shrink {
    font-size: 0.8em;
}


.shrink img {
    width: 75%;
    height: 75%;
}

.shrink > * {
    font-size: 0.8em;
    height: 50px;
    display: none;
    
}



/* Element Selectors */

html {
	height: 100%;
	width: 100%;
	overflow-x: hidden;
}

body  {
	font-family: 'Source Sans Pro', sans-serif;
	margin: 0;
	padding: 0;
	height: 100%;

}


header div {
	position: fixed;
	background: rgba(0, 0, 0, .5);
	z-index: 1;
	width: 100%;
}

/* Nav styling */

ul {
    padding: 0;
}

nav ul {
	list-style: none;
    display: flex;
}

nav li {
	font-size: 2em;
	color: #fff;
    padding: 12px;
}

h4 {
	font-size: 2em;
	color: #D98700;
    margin-bottom: 20px;

}

footer {
	background: rgba(0, 0, 0, .8);
	color: white;
	font-size: 1.5em;
	text-align: center;
    display: flex;
    flex-direction: column;
}

footer a:hover {
	background: none;
	padding: none;
	margin: none;
}

footer a:active {
	padding: 0 !important;
	margin: 0 !important;
}

video {
	width: 500px;
	height: 500px;
	margin-top: 10%;
	background: #fff;
}

section {
	margin-bottom: 80px;
}

/* Pseudo Selectors */

a:hover {
	color: #D98700;
}

a:link {
	text-decoration: none;
	color: #fff;
}

a:visited {
	color: #fff;
}











